@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a[href^=mailto] {
  text-decoration: underline;
}

body {
  font-family: "Arimo", sans-serif;
  font-size: 15px;
  color: #4e4e4e;
  position: relative;
}

input[type=submit] {
  border: none;
  vertical-align: middle;
  cursor: pointer;
}

.title,
.block h2,
.info h2,
.popular h2,
.info div h3,
main h1 {
  font-weight: normal;
}

.active {
  font-weight: bold;
}

.wrapper,
.info,
.popular {
  margin: 0 auto;
  width: 1024px;
}

.stretch-bg {
  background-color: #eaeaea;
}

.line {
  background-color: #01a6a0;
  height: 4px;
}

.logo,
.logo-top,
.logo-bottom {
  -webkit-box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19);
          box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19);
  position: absolute;
  z-index: 10;
  width: 103px;
  height: 140px;
}

.logo-top {
  top: 0;
}

.logo-bottom {
  bottom: 0;
}

.input,
header input[type=email],
header input[type=password],
main .register input:not([type=submit]) {
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
}

.input-placeholder-italic::-webkit-input-placeholder,
.search input[type=text]::-webkit-input-placeholder,
header input[type=email]::-webkit-input-placeholder,
header input[type=password]::-webkit-input-placeholder {
  font-style: italic;
}

.input-placeholder-italic:-moz-placeholder,
.search input[type=text]:-moz-placeholder,
header input[type=email]:-moz-placeholder,
header input[type=password]:-moz-placeholder {
  font-style: italic;
}

.input-placeholder-italic::-moz-placeholder,
.search input[type=text]::-moz-placeholder,
header input[type=email]::-moz-placeholder,
header input[type=password]::-moz-placeholder {
  font-style: italic;
}

.input-placeholder-italic:-ms-input-placeholder,
.search input[type=text]:-ms-input-placeholder,
header input[type=email]:-ms-input-placeholder,
header input[type=password]:-ms-input-placeholder {
  font-style: italic;
}

.search input[type=text] {
  border: 1px solid #eaeaea;
  width: 207px;
  padding: 5px 0 5px 25px;
  border-radius: 3px;
}

.search input[type=submit] {
  background: url("/img/search.png");
  width: 18px;
  height: 18px;
  border: none;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 5px;
}

.header-item,
header .header-personal,
.header-nav {
  margin-left: 170px;
  padding: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-item nav,
header .header-personal nav,
.header-nav nav {
  display: inline-block;
}

.header-item li,
header .header-personal li,
.header-nav li {
  display: inline-block;
}

header input[type=email],
header input[type=password] {
  padding: 2px 0 2px 5px;
  margin-right: 20px;
  width: 100px;
}

header input[type=submit] {
  width: 23px;
  height: 23px;
  background: #eaeaea url("/img/arrow_right.png") center no-repeat;
}

header .header-personal {
  font-size: 13px;
}

header .header-personal nav a {
  border-left: 1px solid #0a1e75;
  color: #0a1e75;
  padding: 0 30px;
}

header .header-personal li:first-of-type a {
  border-left: 0;
}

header .header-personal li:first-of-type a {
  padding-left: 0;
}

.header-nav nav {
  font-weight: bold;
}

.header-nav nav a {
  padding: 0 15px;
  color: #4e4e4e;
}

.header-nav nav li:first-of-type a {
  padding-left: 0;
}

.header-nav .languages {
  color: #0a1e75;
  font-size: 13px;
}

.header-nav .languages a {
  padding: 0 10px;
}

.header-nav .languages li:last-of-type a {
  padding-right: 0;
}

.slideshow {
  width: 100%;
}

.block h2,
.info h2,
.popular h2 {
  font-size: 40px;
  color: #0a1e75;
  text-align: center;
  padding: 50px 0;
}

.info {
  margin-bottom: 50px;
}

.info div {
  width: 300px;
  padding: 0 55px;
  margin-right: 40px;
  display: inline-block;
  text-align: center;
}

.info div:last-of-type {
  margin-right: 0;
}

.info div h3 {
  font-size: 25px;
  padding: 30px 0 12px 0;
}

.info + .stretch-bg {
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.popular span {
  background: url("/img/arrow_down.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  margin-left: 20px;
}

.popular div {
  width: 314px;
  display: inline-block;
}

.popular img {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.popular img:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

footer {
  border-top: 1px solid #eaeaea;
}

footer ul {
  margin-bottom: 22px;
}

footer ul li {
  font-size: 14px;
}

footer ul li:first-of-type {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

footer ul li a {
  color: #01a6a0;
}

footer .footer-item,
footer .sitemap,
footer .contact {
  padding-top: 40px;
  display: inline-block;
}

footer .sitemap {
  border-right: 1px solid #eaeaea;
  padding-bottom: 65px;
}

footer .sitemap div {
  vertical-align: top;
  width: 250px;
  display: inline-block;
}

footer .contact {
  vertical-align: top;
  padding-left: 30px;
}

footer .contact ul:first-of-type li {
  margin-bottom: 20px;
}

footer .search input[type=text] {
  width: 183px;
}

footer .phone {
  background: url("/img/phone.png") left no-repeat;
  margin-top: 30px;
  padding-left: 20px;
}

footer .mail {
  background: url("/img/mail.png") left no-repeat;
  padding-left: 20px;
}

footer .social {
  margin-top: 40px;
}

footer .social .facebook {
  background-image: url("/img/facebook.png");
}

footer .social .twitter {
  background-image: url("/img/twitter.png");
}

footer .social .youtube {
  background-image: url("/img/youtube.png");
}

footer .social .plus {
  background-image: url("/img/plus.png");
}

footer .social a {
  width: 32px;
  height: 32px;
  display: inline-block;
}

footer .copyright {
  margin-top: 86px;
  font-size: 12px;
}

main {
  margin: 80px 0 60px 0;
}

main h1 {
  font-size: 45px;
}

main .register h1 {
  margin-bottom: 40px;
}

main .register label {
  color: #0a1e75;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

main .register input:not([type=submit]) {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
}

main .register input[type=submit] {
  background-color: #01a6a0;
  text-align: center;
  width: 200px;
  padding: 15px;
  color: #ffffff;
  display: block;
  font-size: 17px;
}

main .register div {
  width: calc(50% - 25px);
  display: inline-block;
}

main .register div:first-of-type {
  margin-right: 45px;
}

