@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.icons-sprite, .icons-arrow_down, .icons-checkbox_checked, input[type=checkbox]:checked + label span, .icons-checkbox_unchecked, input[type=checkbox] + label span, .icons-euro, .icons-facebook, .icons-hamburger, .icons-magnifying_glass, .icons-mail, .icons-person, .icons-phone, .icons-plus, .icons-twitter, .icons-youtube {
  background-image: url('../img/icons-sed319c359b.png');
  background-repeat: no-repeat;
}

.icons-arrow_down {
  background-position: 0 0;
}

.icons-checkbox_checked, input[type=checkbox]:checked + label span {
  background-position: 0 -28px;
}

.icons-checkbox_unchecked, input[type=checkbox] + label span {
  background-position: 0 -44px;
}

.icons-euro {
  background-position: 0 -60px;
}

.icons-facebook {
  background-position: 0 -76px;
}

.icons-hamburger {
  background-position: 0 -108px;
}

.icons-magnifying_glass {
  background-position: 0 -118px;
}

.icons-mail {
  background-position: 0 -136px;
}

.icons-person {
  background-position: 0 -145px;
}

.icons-phone {
  background-position: 0 -159px;
}

.icons-plus {
  background-position: 0 -171px;
}

.icons-twitter {
  background-position: 0 -203px;
}

.icons-youtube {
  background-position: 0 -235px;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0a1e75;
}
a[href^=mailto] {
  text-decoration: underline;
  color: #01a6a0;
}

ol {
  list-style-type: decimal;
}

body {
  font-family: "Arimo", sans-serif;
  font-size: 15px;
  color: #4e4e4e;
  position: relative;
}

input[type=submit] {
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label span {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: top;
  cursor: pointer;
  margin-right: 10px;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

h5 {
  font-weight: normal;
}

h6 {
  font-weight: normal;
}

h2 {
  font-size: 24px;
}

[class^=icons] {
  display: inline-block;
  vertical-align: -5%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.active {
  font-weight: bold;
}

.wrapper, .info, .popular {
  margin: 0 auto;
  width: 1024px;
}

.stretch-bg {
  background-color: #eaeaea;
}

.slideshow-home {
  width: 100%;
}

.line {
  background-color: #01a6a0;
  height: 4px;
}

.col, .profile-info .profile-info-col {
  vertical-align: top;
  width: 250px;
  display: inline-block;
}

.small-button {
  padding: 10px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  font-weight: bold;
  float: right;
  margin-top: 30px;
  display: inline-block;
  margin-left: 10px;
  color: #0a1e75;
}

.big-button, .auction-detail .top .side .bid .bid-form .price-submit {
  background-color: #01a6a0;
  text-align: center;
  min-width: 200px;
  padding: 15px;
  color: #ffffff;
  display: block;
  font-size: 17px;
  border: 0;
}

.logo, .logo-top, .logo-bottom {
  box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19);
  position: absolute;
  z-index: 10;
}

.logo-top {
  top: 0;
}

.logo-bottom {
  bottom: 0;
}

.input, header #login input[type=email], header #login input[type=password], main form input:not([type=submit]):not([type=checkbox]), main form select, main form textarea {
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
}

.icons-arrow_down {
  width: 28px;
  height: 28px;
}

.icons-magnifying_glass {
  width: 18px;
  height: 18px;
}

.icons-phone {
  width: 9px;
  height: 12px;
}

.icons-mail {
  width: 13px;
  height: 9px;
}

.icons-hamburger {
  width: 11px;
  height: 10px;
}

.icons-person {
  width: 13px;
  height: 14px;
}

.icons-euro {
  width: 16px;
  height: 16px;
}

.icons-facebook {
  width: 32px;
  height: 32px;
}

.icons-twitter {
  width: 32px;
  height: 32px;
}

.icons-youtube {
  width: 32px;
  height: 32px;
}

.icons-plus {
  width: 32px;
  height: 32px;
}

.input-placeholder-italic::-webkit-input-placeholder, .search input[type=search]::-webkit-input-placeholder, header #login input[type=email]::-webkit-input-placeholder, header #login input[type=password]::-webkit-input-placeholder {
  font-style: italic;
}
.input-placeholder-italic:-moz-placeholder, .search input[type=search]:-moz-placeholder, header #login input[type=email]:-moz-placeholder, header #login input[type=password]:-moz-placeholder {
  font-style: italic;
}
.input-placeholder-italic::-moz-placeholder, .search input[type=search]::-moz-placeholder, header #login input[type=email]::-moz-placeholder, header #login input[type=password]::-moz-placeholder {
  font-style: italic;
}
.input-placeholder-italic:-ms-input-placeholder, .search input[type=search]:-ms-input-placeholder, header #login input[type=email]:-ms-input-placeholder, header #login input[type=password]:-ms-input-placeholder {
  font-style: italic;
}

.search input[type=search] {
  border: 1px solid #eaeaea;
  width: 207px;
  padding: 5px 0 5px 25px;
  border-radius: 3px;
}
.search input[type=submit] {
  border: none;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 5px;
  background-color: #ffffff;
}

.header-item, header .header-personal, .header-nav {
  margin-left: 170px;
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-item nav, header .header-personal nav, .header-nav nav, .header-item li, header .header-personal li, .header-nav li {
  display: inline-block;
}

header #login input[type=email], header #login input[type=password] {
  padding: 2px 0 2px 5px;
  margin-right: 20px;
  width: 100px;
}
header #login input[type=submit] {
  width: 23px;
  height: 23px;
  background-color: #eaeaea;
  border: 0;
}
header #login form a {
  margin-left: 10px;
}
header .header-personal {
  font-size: 13px;
}
header .header-personal li {
  border-left: 1px solid #0a1e75;
  color: #0a1e75;
  padding: 0 30px;
}
header .header-personal li:first-of-type {
  border-left: 0;
  padding-left: 0;
}
header .header-personal .icons-hamburger, header .header-personal .icons-person {
  margin-right: 10px;
}
header .logout form {
  display: inline-block;
}
header .logout form input[type=submit] {
  background-color: #ffffff;
  color: #0a1e75;
  border: 0;
}

.header-nav nav {
  font-weight: bold;
}
.header-nav nav li {
  padding: 0 15px;
}
.header-nav nav li a {
  color: #4e4e4e;
}
.header-nav nav li:first-of-type {
  padding-left: 0;
}
.header-nav .languages {
  color: #0a1e75;
  font-size: 13px;
}
.header-nav .languages li {
  width: 36px;
  text-align: right;
}

.block h2, .info h2, .popular h2 {
  font-size: 40px;
  color: #0a1e75;
  text-align: center;
  padding: 50px 0;
}

.info {
  margin-bottom: 50px;
}
.info div {
  width: 300px;
  padding: 0 55px;
  margin-right: 40px;
  display: inline-block;
  text-align: center;
}
.info div:last-of-type {
  margin-right: 0;
}
.info div h3 {
  font-size: 25px;
  padding: 30px 0 12px 0;
}

.info + .stretch-bg {
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.popular span {
  margin-left: 20px;
}
.popular div {
  width: 314px;
  display: inline-block;
}
.popular img {
  transition: .3s;
}
.popular img:hover {
  filter: brightness(50%);
}

footer, .filter {
  border-top: 1px solid #eaeaea;
}
footer ul:not(.pagination), .filter ul:not(.pagination) {
  margin-bottom: 22px;
}
footer ul:not(.pagination) li, .filter ul:not(.pagination) li {
  font-size: 14px;
}
footer ul:not(.pagination) li:first-of-type, .filter ul:not(.pagination) li:first-of-type {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}
footer ul:not(.pagination) li a, .filter ul:not(.pagination) li a {
  color: #01a6a0;
}
footer .footer-item, footer .sitemap, footer .filter .sitemap, .filter footer .sitemap, footer .contact, footer .filter .contact, .filter footer .contact, .filter .footer-item, .filter .sitemap, .filter .contact {
  padding-top: 40px;
  display: inline-block;
}
footer .sitemap, .filter .sitemap {
  border-right: 1px solid #eaeaea;
  padding-bottom: 65px;
}
footer .contact, .filter .contact {
  vertical-align: top;
  padding-left: 30px;
}
footer .contact ul:first-of-type li, .filter .contact ul:first-of-type li {
  margin-bottom: 20px;
}
footer .contact div, .filter .contact div {
  margin-top: 30px;
}
footer .contact div.copyright, .filter .contact div.copyright {
  margin-top: 86px;
  font-size: 12px;
}
footer .search input[type=search], .filter .search input[type=search] {
  width: 183px;
}
footer .social, .filter .social {
  margin-top: 40px;
}

.new-auction {
  width: 750px;
}

main {
  margin: 80px 0 60px 0;
}
main h1 {
  font-size: 45px;
  margin-bottom: 40px;
}
main form label {
  color: #0a1e75;
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
}
main form input:not([type=submit]):not([type=checkbox]), main form select, main form textarea {
  padding: 15px;
  width: 100%;
  height: 47px;
  color: #4e4e4e;
}
main form input:not([type=submit]):not([type=checkbox]).has-error, main form select.has-error, main form textarea.has-error {
  background-color: #fff1f1;
  border-color: #fd0100;
}
main form textarea {
  font-family: "Arimo", sans-serif;
  height: 120px;
}
main form input[type=submit] + a {
  min-width: 200px;
  display: inline-block;
  text-align: center;
  color: #01a6a0;
  margin-top: 20px;
  font-size: 13px;
}
main form .upload {
  background-color: #4e4e4e;
  color: #ffffff;
  padding: 10px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
main form p {
  font-size: 14px;
}
main form .agree-tac {
  margin-top: 80px;
}
main form .agree-tac input[type=checkbox] + label {
  color: #4e4e4e;
  font-size: 15px;
  display: initial;
}
main form .agree-tac input[type=checkbox] + label + a {
  text-decoration: underline;
  color: #01a6a0;
}
main form .row {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
main form .row .row-item {
  width: 48%;
  display: inline-block;
}
main form .row .row-item.has-error {
  border: 1px solid #fd0100;
}
main form .row .half {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main form .row .full {
  width: 100%;
}
main form .row .third {
  width: 32%;
}
main form .row .two-third {
  width: 64%;
}
main form .row .optional label {
  display: inline-block;
}
main form .row .optional label:last-of-type {
  font-size: 15px;
}
main form .row.cash .row-item {
  position: relative;
}
main form .row.cash input {
  padding-left: 30px;
}
main form .row.cash .icons-euro {
  position: absolute;
  top: 44.5px;
  left: 10px;
}

.errors {
  padding: 30px 50px;
  margin: 60px 0 40px 0;
  color: #fd0100;
  background-color: #fff1f1;
}
.errors ul {
  list-style-type: initial;
}

.profile-info {
  padding: 20px 45px;
  border: 1px solid #eaeaea;
}
.profile-info h2 {
  margin-bottom: 30px;
}
.profile-info .profile-info-col {
  border-right: 1px solid #eaeaea;
  margin-left: 45px;
}
.profile-info .profile-info-col:first-of-type {
  margin-left: 0;
}
.profile-info .profile-info-col:last-of-type {
  border-right: 0;
}
.profile-info .profile-info-col p {
  margin-bottom: 2px;
}
.profile-info .profile-info-col .sub-title {
  color: #0a1e75;
  font-weight: bold;
}
.profile-info .profile-info-col .item:first-of-type {
  margin-bottom: 30px;
}

.auction-table {
  width: 100%;
  border: 1px solid #eaeaea;
  border-collapse: collapse;
  margin: 30px 0 60px 0;
}
.auction-table th {
  background-color: #f8f8f8;
  padding: 10px 0;
  text-align: center;
  font-weight: normal;
}
.auction-table td {
  border: 1px solid #eaeaea;
  text-align: center;
  font-size: 20px;
}
.auction-table img {
  width: 100%;
  height: 100%;
  transition: .3s;
  object-fit: cover;
}
.auction-table img:hover {
  filter: brightness(50%);
}
.auction-table .empty {
  padding: 40px;
}
.auction-table .image {
  border-right: 0;
  width: 150px;
  height: 150px;
  position: relative;
}
.auction-table .image input[type=checkbox] + label {
  display: initial;
  margin: 0;
}
.auction-table .image input[type=checkbox] + label span {
  position: absolute;
  top: 60px;
  left: -40px;
}
.auction-table .title {
  border-left: 0;
  text-align: left;
  padding: 0 40px;
  font-size: 22px;
}
.auction-table .title a {
  color: #4e4e4e;
}
.auction-table .title p {
  color: #0a1e75;
  font-size: 18px;
}
.auction-table .price, .auction-table .end-date, .auction-table .remaining-time {
  width: 17%;
  padding: 0 5px;
}

.auction-detail h1 {
  margin-bottom: 15px;
}
.auction-detail .title-info {
  font-size: 14px;
}
.auction-detail .title-info #bids .icons-hamburger {
  margin-left: 5px;
}
.auction-detail .title-info #bids div {
  padding: 20px 30px;
  margin-top: 30px;
  border: 1px solid #eaeaea;
}
.auction-detail .title-info #bids div li {
  padding: 5px;
}
.auction-detail .title-info #bids .you {
  background-color: #eaeaea;
}
.auction-detail .top {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.auction-detail .top img {
  width: 710px;
  height: 502px;
  object-fit: cover;
}
.auction-detail .top .side {
  width: 250px;
  text-align: right;
}
.auction-detail .top .side .ended {
  font-size: 60px;
  font-weight: bold;
}
.auction-detail .top .side div {
  margin-bottom: 15px;
  padding-bottom: 20px;
}
.auction-detail .top .side div * {
  margin-bottom: 5px;
}
.auction-detail .top .side div.border-bottom {
  border-bottom: 1px solid #eaeaea;
}
.auction-detail .top .side div h2 {
  color: #000000;
  font-size: 27px;
}
.auction-detail .top .side div h2 + p {
  color: #0a1e75;
}
.auction-detail .top .side div .remaining-time {
  color: #01a6a0;
}
.auction-detail .top .side div .remaining-time + span {
  color: #01a6a0;
}
.auction-detail .top .side .bid {
  color: #0a1e75;
  border: 1px solid #eaeaea;
  padding-top: 20px;
}
.auction-detail .top .side .bid .padding {
  padding: 0 20px;
}
.auction-detail .top .side .bid .estimated-price {
  font-size: 25px;
  font-weight: bold;
}
.auction-detail .top .side .bid .buyout {
  color: #01a6a0;
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  background-color: #ffffff;
}
.auction-detail .top .side .bid .bid-form {
  display: flex;
  justify-content: flex-end;
}
.auction-detail .top .side .bid .bid-form .price-input {
  width: 128px;
  border: 10px solid #01a6a0;
  vertical-align: middle;
  outline: none;
}
.auction-detail .top .side .bid .bid-form .price-submit {
  min-width: 120px;
  display: inline-block;
}
.auction-detail .top .side .bid .add-to-watchlist-container {
  text-align: center;
  display: block;
}
.auction-detail .top .side .bid .add-to-watchlist-container .icons-hamburger {
  margin-bottom: 0;
  vertical-align: baseline;
}
.auction-detail .top .side .bid .add-to-watchlist-container .add-to-watchlist {
  color: #0a1e75;
  text-decoration: underline;
  border: 0;
  background-color: #ffffff;
}
.auction-detail .bottom {
  padding: 20px;
  border: 1px solid #eaeaea;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  min-height: 300px;
}
.auction-detail .bottom h3 {
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.auction-detail .bottom p {
  padding-right: 20px;
  margin-bottom: 20px;
}
.auction-detail .bottom .auction-texts {
  width: 750px;
  border-right: 1px solid #eaeaea;
}
.auction-detail .bottom .auction-extra {
  width: 200px;
}
.auction-detail .bottom .auction-extra .big-button, .auction-detail .bottom .auction-extra .top .side .bid .bid-form .price-submit, .auction-detail .top .side .bid .bid-form .bottom .auction-extra .price-submit {
  background-color: #4e4e4e;
  text-align: center;
  padding: 15px;
  color: #ffffff;
  font-size: 17px;
  margin-top: 50px;
}

.categories {
  height: 26px;
  display: inline-block;
}
.categories span {
  font-weight: bold;
}
.categories a {
  color: #4e4e4e;
  padding: 0 5px 2px 0;
  border-right: 1px solid #4e4e4e;
  vertical-align: text-top;
}
.categories a.active {
  border-bottom: 3px solid #eaeaea;
}
.categories a:last-of-type {
  border-right: 0;
}

.isearch .search input[type=search] {
  width: 996px;
}
.isearch h2 {
  margin-top: 40px;
}

.auction-cards {
  display: flex;
  flex-wrap: wrap;
}
.auction-cards .auction-info {
  margin-top: 5px;
  line-height: 1.5;
}
.auction-cards .auction-card {
  width: 250px;
  margin: 0 3px 50px 3px;
  max-height: 400px;
  overflow: auto;
}
.auction-cards .auction-card img {
  width: 100%;
  height: 180px;
  transition: .3s;
  object-fit: cover;
}
.auction-cards .auction-card img:hover {
  filter: brightness(50%);
}
.auction-cards .auction-card .small-button {
  margin: 0;
  padding: 5px;
  float: initial;
  border-bottom: 0;
}
.auction-cards .auction-card .title {
  font-size: 20px;
}
.auction-cards .auction-card .title a {
  color: #4e4e4e;
}
.auction-cards .auction-card .space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}
.auction-cards .auction-card .year {
  color: #0a1e75;
}
.auction-cards .auction-card .remaining-time {
  font-size: 14px;
}

.pagination {
  text-align: right;
}
.pagination li {
  display: inline-block;
}

.breadcrumb {
  margin-bottom: 40px;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb li a {
  color: #01a6a0;
}

.filter {
  border-top: 0;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 50px;
}
.filter .filter-menu {
  padding: 30px 0 50px;
  display: flex;
  justify-content: space-between;
}
.filter .filter-menu .advanced {
  color: #0a1e75;
  font-size: 20px;
}
.filter .filter-menu .advanced span {
  vertical-align: middle;
  transform: rotate(-90deg);
  margin-left: 15px;
  transition: .5s;
}
