@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body {
  font-family: "Arimo", sans-serif;
  font-size: 15px;
  color: #4e4e4e;
}

.active {
  font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  width: 1024px;
}

.stretch-bg {
  background-color: #eaeaea;
}

.line {
  background-color: #01a6a0;
  height: 4px;
}

header .logo {
  -webkit-box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19);
          box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19);
  position: absolute;
  top: 0;
  z-index: 1;
}

header .margin-from-logo,
header .header-personal,
header .header-nav {
  margin-left: 170px;
}

header nav {
  display: inline-block;
}

header li {
  padding: 18px 0;
  display: inline-block;
}

header .header-personal {
  font-size: 13px;
}

header .header-personal nav a {
  border-right: 1px solid #0a1e75;
  color: #0a1e75;
  padding: 0 30px;
}

header .header-personal li:last-of-type a {
  border-right: 0;
}

header .header-personal li:first-of-type a {
  padding-left: 0;
}

header .header-personal form {
  float: right;
  padding-top: 14px;
}

header .header-personal form input[type=text] {
  padding: 5px 25px;
  border-radius: 3px;
  border: 1px solid #bebebd;
  color: #1d1d1b;
}

header .header-personal form input[type=submit] {
  background: url("/img/search.png");
  width: 18px;
  height: 18px;
  border: none;
  vertical-align: middle;
}

header .header-nav nav {
  font-weight: bold;
}

header .header-nav nav a {
  padding: 0 15px;
  color: #4e4e4e;
}

header .header-nav nav li:first-of-type a {
  padding-left: 0;
}

header .header-nav .languages {
  color: #0a1e75;
  float: right;
  font-size: 13px;
}

header .header-nav .languages a {
  padding: 0 10px;
}

header .header-nav .languages li:last-of-type a {
  padding-right: 0;
}

.slideshow {
  width: 100%;
}

.block h2 {
  font-size: 40px;
  color: #0a1e75;
  font-weight: normal;
  text-align: center;
  padding: 50px 0;
}

.info {
  margin-bottom: 50px;
}

.info div {
  width: 300px;
  padding: 0 55px;
  margin-right: 40px;
  display: inline-block;
  text-align: center;
}

.info div:last-of-type {
  margin-right: 0;
}

.info div h3 {
  font-size: 25px;
  font-weight: normal;
  padding: 30px 0 12px 0;
}

.info + .stretch-bg {
  padding-bottom: 100px;
}

.popular span {
  background: url("/img/arrow.png");
  width: 28px;
  height: 28px;
  display: inline-block;
  margin-left: 20px;
}

.popular div {
  width: 314px;
  display: inline-block;
}

.popular img {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.popular img:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

