$primary-color: #4e4e4e;
$secondary-color: #0a1e75;
$tertiary-color: #eaeaea;
$primary-link-color: #01a6a0;
$input-bg-color: #f8f8f8;
$error-color: #fd0100;
$error-bg-color: #fff1f1;
$black: #000000;
$white: #ffffff;
