
// Fonts
@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
body {
    font-family: "Arimo", sans-serif;
    font-size: 15px;
    color: $primary-color;
}
.active {
    font-weight: bold;
}
.wrapper {
    margin: 0 auto;
    width: 1024px;
}
.stretch-bg {
    background-color: $stretch-bg-color;
}
.line {
    background-color: #01a6a0;
    height: 4px;
}
.search {
    input[type=text] {
        padding: 5px 25px;
        border-radius: 3px;
        border: 1px solid #bebebd;
        color: #1d1d1b;
    }
    input[type=submit] {
        background: url("/img/search.png");
        width: 18px;
        height: 18px;
        border: none;
        vertical-align: middle;
    }
}
header {
    .logo {
        box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19);
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .margin-from-logo {
        margin-left: 170px;
    }
    nav {
        display: inline-block;
    }
    li {
        padding: 18px 0;
        display: inline-block;
    }
    .header-personal {
        @extend .margin-from-logo;
        font-size: 13px;

        nav {
            a {
                border-right: 1px solid $secondary-color;
                color: $secondary-color;
                padding: 0 30px;
            }
        }
        li:last-of-type a {
            border-right: 0;
        }
        li:first-of-type a {
            padding-left: 0;
        }
    }
    .header-nav {
        @extend .margin-from-logo;

        nav {
            font-weight: bold;

            a {
                padding: 0 15px;
                color: $primary-color;
            }
            li:first-of-type a {
                padding-left: 0;
            }
        }
        .languages {
            color: $secondary-color;
            float: right;
            font-size: 13px;

            a {
                padding: 0 10px;
            }
            li:last-of-type a {
                padding-right: 0;
            }
        }
    }
}
.slideshow {
    width: 100%;
}
.block {
    h2 {
        font-size: 40px;
        color: $secondary-color;
        font-weight: normal;
        text-align: center;
        padding: 50px 0;
    }
}
.info {
    margin-bottom: 50px;

    div {
        width: 300px;

        padding: 0 55px;
        margin-right: 40px;
        display: inline-block;
        text-align: center;

        &:last-of-type {
            margin-right: 0;
        }
        h3 {
            font-size: 25px;
            font-weight: normal;
            padding: 30px 0 12px 0;
        }
    }
}
.info + .stretch-bg {
    padding-bottom: 100px;
    margin-bottom: 100px;
}
.popular {
    span {
        background: url("/img/arrow.png");
        width: 28px;
        height: 28px;
        display: inline-block;
        margin-left: 20px;
    }
    div {
        width: 314px;
        display: inline-block;
    }
    img {
        cursor: pointer;
        transition: .3s;

        &:hover {
            filter: brightness(50%);
        }
    }
}
footer {
    border-top: 1px solid $separator-color;

    ul {
        margin-bottom: 22px;

        li {
            font-size: 14px;

            &:first-of-type {
                color: $black;
                font-size: 16px;
                font-weight: bold;
            }
            a {
                color: $primary-link-color;
            }
        }
    }

    .sitemap {
        padding-top: 40px;
        width: 780px;
        display: inline-block;
        border-right: 1px solid $separator-color;

        div {
            vertical-align: top;
            width: 265px;
            display: inline-block;

            &:last-of-type {
                width: 240px;
            }
        }
    }
    .contact {
        display: inline-block;
        width: 220px;
    }
}
