@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: $secondary-color;

    &[href^=mailto] {
        text-decoration: underline;
        color: $primary-link-color;
    }
}
body {
    font-family: "Arimo", sans-serif;
    font-size: 15px;
    color: $primary-color;
    position: relative;
}
input[type=submit] {
    border: none;
    vertical-align: middle;
    cursor: pointer;
}
@for $i from 1 through 6 {
    h#{$i} {
        font-weight: normal;
    }
}
.active {
    font-weight: bold;
}
.wrapper {
    margin: 0 auto;
    width: 1024px;
}
.stretch-bg {
    background-color: $tertiary-color;
}
.line {
    background-color: $primary-link-color;
    height: 4px;
}
.col {
    vertical-align: top;
    width: 250px;
    display: inline-block;
}
@each $contact in phone, mail {
  .#{$contact}-icon {
    background: url("/img/#{$contact}.png") left no-repeat;
    padding-left: 20px;
  }
}
.logo {
    box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19);
    position: absolute;
    z-index: 10;
    width: 103px;
    height: 140px;
}
.logo-top {
    @extend .logo;
    top: 0;
}
.logo-bottom {
    @extend .logo;
    bottom: 0;
}
.input {
    border: 1px solid $tertiary-color;
    background-color: $input-bg-color;
}
.input-placeholder-italic {
    &::-webkit-input-placeholder {
       font-style: italic;
    }
    &:-moz-placeholder {
       font-style: italic;
    }
    &::-moz-placeholder {
       font-style: italic;
    }
    &:-ms-input-placeholder {
       font-style: italic;
    }
}
.search {
    input[type=search] {
        @extend .input-placeholder-italic;
        border: 1px solid $tertiary-color;
        width: 207px;
        padding: 5px 0 5px 25px;
        border-radius: 3px;
    }
    input[type=submit] {
        background: url("/img/search.png");
        width: 18px;
        height: 18px;
        border: none;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 5px;
    }
}
.header-item {
    margin-left: 170px;
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav, li {
        display: inline-block;
    }
}
header {
    #login {
        input[type=email], input[type=password] {
            @extend .input;
            @extend .input-placeholder-italic;
            padding: 2px 0 2px 5px;
            margin-right: 20px;
            width: 100px;
        }
        input[type=submit] {
            width: 23px;
            height: 23px;
            background-color: $tertiary-color;
        }
    }
    .header-personal {
        @extend .header-item;
        font-size: 13px;

        a {
            border-left: 1px solid $secondary-color;
            color: $secondary-color;
            padding: 0 30px;
        }
        li:first-of-type a {
            border-left: 0;
            padding-left: 0;
        }
        .watchlist-icon {
            background: url("/img/watchlist.png") left no-repeat;
            padding-left: 25px;

            a {
                padding-right: 25px;
            }
        }
        .profile-icon {
            background: url("/img/profile.png") 25px no-repeat;

            a {
                padding-left: 50px;
            }
        }
    }
    .logout {
        form {
            display: inline-block;

            input[type=submit] {
                background-color: $white;
                color: $secondary-color;
            }
        }
    }
}
.header-nav {
    @extend .header-item;

    nav {
        font-weight: bold;

        li {
            padding: 0 15px;

            a {
                color: $primary-color;
            }
            &:first-of-type {
                padding-left: 0;
            }
        }
    }
    .languages {
        color: $secondary-color;
        font-size: 13px;

        li {
            width: 36px;
            text-align: right;
        }
    }
}
.slideshow-home {
    width: 100%;
}
.block {
    h2 {
        font-size: 40px;
        color: $secondary-color;
        text-align: center;
        padding: 50px 0;
    }
}
.info {
    @extend .wrapper;
    @extend .block;
    margin-bottom: 50px;

    div {
        width: 300px;
        padding: 0 55px;
        margin-right: 40px;
        display: inline-block;
        text-align: center;

        &:last-of-type {
            margin-right: 0;
        }
        h3 {
            font-size: 25px;
            padding: 30px 0 12px 0;
        }
    }
}
.info + .stretch-bg {
    padding-bottom: 100px;
    margin-bottom: 100px;
}
.popular {
    @extend .wrapper;
    @extend .block;

    span {
        background: url("/img/arrow_down.png");
        width: 28px;
        height: 28px;
        display: inline-block;
        margin-left: 20px;
    }
    div {
        width: 314px;
        display: inline-block;
    }
    img {
        cursor: pointer;
        transition: .3s;

        &:hover {
            filter: brightness(50%);
        }
    }
}
footer {
    border-top: 1px solid $tertiary-color;

    ul {
        margin-bottom: 22px;

        li {
            font-size: 14px;

            &:first-of-type {
                color: $black;
                font-size: 16px;
                font-weight: bold;
            }
            a {
                color: $primary-link-color;
            }
        }
    }
    .footer-item {
        padding-top: 40px;
        display: inline-block;
    }
    .sitemap {
        @extend .footer-item;
        border-right: 1px solid $tertiary-color;
        padding-bottom: 65px;
    }
    .contact {
        @extend .footer-item;
        vertical-align: top;
        padding-left: 30px;

        ul:first-of-type li {
            margin-bottom: 20px;
        }

        div {
            margin-top: 30px;
        }
    }
    .search {
        input[type=search] {
            width: 183px;
        }
    }
    .social {
        margin-top: 40px;

        @each $social in facebook, twitter, youtube, plus {
          .#{$social}-icon {
            background: url("/img/#{$social}.png") no-repeat;
          }
        }
        a {
            width: 32px;
            height: 32px;
            display: inline-block;
        }
    }
    .copyright {
        margin-top: 86px;
        font-size: 12px;
    }
}
main {
    margin: 80px 0 60px 0;

    &.new-auction {
        width: 750px;
    }
    h1 {
        font-size: 45px;
        margin-bottom: 40px;
    }
    form {
        label {
            color: $secondary-color;
            font-size: 20px;
            margin-bottom: 10px;
            display: block;
        }
        input:not([type=submit]):not([type=checkbox]), select, textarea {
            @extend .input;
            padding: 15px;
            width: 100%;
            height: 47px;
            color: $primary-color;

            &.has-error {
                background-color: $error-bg-color;
                border-color: $error-color;
            }
        }
        textarea {
            font-family: "Arimo", sans-serif;
            height: 120px;
        }
        input[type=submit] {
            background-color: $primary-link-color;
            text-align: center;
            width: 200px;
            padding: 15px;
            color: $white;
            display: block;
            font-size: 17px;

            &+a {
                width: 200px;
                display: inline-block;
                text-align: center;
                color: $primary-link-color;
                margin-top: 20px;
                font-size: 13px;
            }
        }
        .upload {
            background-color: $primary-color;
            color: $white;
            padding: 10px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
        }
        p {
            font-size: 14px;
        }
        .agree-tac {
            margin-top: 80px;

            input[type=checkbox] + label {
                color: $primary-color;
                font-size: 15px;
                display: initial;
                margin-left: 10px;

                &+a {
                    text-decoration: underline;
                    color: $primary-link-color;
                }
            }
        }
        .row {
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;

            .row-item {
                width: 48%;
                display: inline-block;

                &.has-error {
                    border: 1px solid $error-color;
                }
            }
            .half {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
            .full {
                width: 100%;
            }
            .third {
                width: 32%;
            }
            .two-third {
                width: 64%;
            }
            .optional {
                label {
                    display: inline-block;

                    &:last-of-type {
                        font-size: 15px;
                    }
                }
            }
            &.cash {
                input {
                    padding-left: 30px;
                    background: $input-bg-color url("/img/euro.png") 10px no-repeat;
                }
            }
        }
    }
}
.errors {
    padding: 30px 50px;
    margin: 60px 0 40px 0;
    color: $error-color;
    background-color: $error-bg-color;

    ul {
        list-style-type: initial;
    }
}
.profile {
    .profile-info {
        padding: 20px 45px;
        border: 1px solid $tertiary-color;

        h2 {
            margin-bottom: 30px;
        }
        .profile-info-col {
            @extend .col;
            border-right: 1px solid $tertiary-color;
            margin-left: 45px;

            &:first-of-type {
                margin-left: 0;
            }
            &:last-of-type {
                border-right: 0;
            }
            p {
                margin-bottom: 2px;
            }
            .sub-title {
                color: $secondary-color;
                font-weight: bold;
            }
            .item:first-of-type {
                margin-bottom: 30px;
            }
        }
    }
}
.button {
    padding: 10px;
    border: 1px solid $tertiary-color;
    background-color: $input-bg-color;
    font-weight: bold;
    float: right;
    margin-top: 30px;
    display: inline-block;
}
.my-auctions {
    width: 100%;
    border: 1px solid $tertiary-color;
    border-collapse: collapse;
    margin: 30px 0 60px 0;

    th {
        background-color: $input-bg-color;
        padding: 10px 0;
        text-align: center;
        font-weight: normal;
    }
    td {
        border: 1px solid $tertiary-color;
        text-align: center;
        font-size: 20px;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .image {
        border-right: 0;
        width: 150px;
        height: 150px;
    }
    .title {
        border-left: 0;
        text-align: left;
        padding-left: 40px;
        font-size: 22px;

        a {
            color: $primary-color;
        }
        p {
            color: $secondary-color;
            font-size: 18px;
        }
    }
    .price, .end-date, .remaining-time {
        width: 17%;
    }
}
.auction-detail {
    h1 {
        margin-bottom: 15px;

        &+div {
            font-size: 14px;

            .bids {
                color: $secondary-color;
                padding-right: 20px;
                background: url("/img/watchlist.png") right no-repeat;
            }
        }
    }
    .top {
        margin-top: 30px;
    }
    .slideshow-detail {
        width: 60%;
    }
}
