@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");
@import "variables";
@import "compass/reset";
@import "compass/utilities/sprites";
@import "icons/*.png";
@include all-icons-sprites;

* {
    box-sizing: border-box;
    word-wrap: break-word;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: $secondary-color;

    &[href^=mailto] {
        text-decoration: underline;
        color: $primary-link-color;
    }
}
ol {
    list-style-type: decimal;
}
body {
    font-family: "Arimo", sans-serif;
    font-size: 15px;
    color: $primary-color;
    position: relative;
}
input[type=submit] {
    vertical-align: middle;
    cursor: pointer;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label span {
    @extend .icons-checkbox_unchecked;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    cursor: pointer;
    margin-right: 10px;
}
input[type=checkbox]:checked + label span {
    @extend .icons-checkbox_checked;
}
@for $i from 1 through 6 {
    h#{$i} {
        font-weight: normal;
    }
}
h2 {
    font-size: 24px;
}
[class^=icons] {
    display: inline-block;
    vertical-align: -5%;
}
.active {
    font-weight: bold;
}
.wrapper {
    margin: 0 auto;
    width: 1024px;
}
.stretch-bg {
    background-color: $tertiary-color;
}
.slideshow-home {
    width: 100%;
}
.line {
    background-color: $primary-link-color;
    height: 4px;
}
.col {
    vertical-align: top;
    width: 250px;
    display: inline-block;
}
.small-button {
    padding: 10px;
    border: 1px solid $tertiary-color;
    background-color: $input-bg-color;
    font-weight: bold;
    float: right;
    margin-top: 30px;
    display: inline-block;
    margin-left: 10px;
    color: $secondary-color;
}
.big-button {
    background-color: $primary-link-color;
    text-align: center;
    min-width: 200px;
    padding: 15px;
    color: $white;
    display: block;
    font-size: 17px;
    border: 0;
}
.logo {
    box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19);
    position: absolute;
    z-index: 10;
    width: 103px;
    height: 140px;
}
.logo-top {
    @extend .logo;
    top: 0;
}
.logo-bottom {
    @extend .logo;
    bottom: 0;
}
.input {
    border: 1px solid $tertiary-color;
    background-color: $input-bg-color;
}
.icons-arrow_down {
    width: 28px;
    height: 28px;
}
.icons-magnifying_glass {
    width: 18px;
    height: 18px;
}
.icons-phone {
    width: 9px;
    height: 12px;
}
.icons-mail {
    width: 13px;
    height: 9px;
}
.icons-hamburger {
    width: 11px;
    height: 10px;
}
.icons-person {
    width: 13px;
    height: 14px;
}
.icons-euro {
    width: 16px;
    height: 16px;
}
@each $social in facebook, twitter, youtube, plus {
  .icons-#{$social} {
    width: 32px;
    height: 32px;
  }
}
.input-placeholder-italic {
    &::-webkit-input-placeholder {
       font-style: italic;
    }
    &:-moz-placeholder {
       font-style: italic;
    }
    &::-moz-placeholder {
       font-style: italic;
    }
    &:-ms-input-placeholder {
       font-style: italic;
    }
}
.search {
    input[type=search] {
        @extend .input-placeholder-italic;
        border: 1px solid $tertiary-color;
        width: 207px;
        padding: 5px 0 5px 25px;
        border-radius: 3px;
    }
    input[type=submit] {
        border: none;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 5px;
        background-color: $white;
    }
}
.header-item {
    margin-left: 170px;
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav, li {
        display: inline-block;
    }
}
header {
    #login {
        input[type=email], input[type=password] {
            @extend .input;
            @extend .input-placeholder-italic;
            padding: 2px 0 2px 5px;
            margin-right: 20px;
            width: 100px;
        }
        input[type=submit] {
            width: 23px;
            height: 23px;
            background-color: $tertiary-color;
            border: 0;
        }
        form a {
            margin-left: 10px;
        }
    }
    .header-personal {
        @extend .header-item;
        font-size: 13px;

        li {
            border-left: 1px solid $secondary-color;
            color: $secondary-color;
            padding: 0 30px;
        }
        li:first-of-type {
            border-left: 0;
            padding-left: 0;
        }
        .icons-hamburger, .icons-person {
            margin-right: 10px;
        }
    }
    .logout {
        form {
            display: inline-block;

            input[type=submit] {
                background-color: $white;
                color: $secondary-color;
                border: 0;
            }
        }
    }
}
.header-nav {
    @extend .header-item;

    nav {
        font-weight: bold;

        li {
            padding: 0 15px;

            a {
                color: $primary-color;
            }
            &:first-of-type {
                padding-left: 0;
            }
        }
    }
    .languages {
        color: $secondary-color;
        font-size: 13px;

        li {
            width: 36px;
            text-align: right;
        }
    }
}
.block {
    h2 {
        font-size: 40px;
        color: $secondary-color;
        text-align: center;
        padding: 50px 0;
    }
}
.info {
    @extend .wrapper;
    @extend .block;
    margin-bottom: 50px;

    div {
        width: 300px;
        padding: 0 55px;
        margin-right: 40px;
        display: inline-block;
        text-align: center;

        &:last-of-type {
            margin-right: 0;
        }
        h3 {
            font-size: 25px;
            padding: 30px 0 12px 0;
        }
    }
}
.info + .stretch-bg {
    padding-bottom: 100px;
    margin-bottom: 100px;
}
.popular {
    @extend .wrapper;
    @extend .block;

    span {
        margin-left: 20px;
    }
    div {
        width: 314px;
        display: inline-block;
    }
    img {
        transition: .3s;

        &:hover {
            filter: brightness(50%);
        }
    }
}
footer {
    border-top: 1px solid $tertiary-color;

    ul {
        margin-bottom: 22px;

        li {
            font-size: 14px;

            &:first-of-type {
                color: $black;
                font-size: 16px;
                font-weight: bold;
            }
            a {
                color: $primary-link-color;
            }
        }
    }
    .footer-item {
        padding-top: 40px;
        display: inline-block;
    }
    .sitemap {
        @extend .footer-item;
        border-right: 1px solid $tertiary-color;
        padding-bottom: 65px;
    }
    .contact {
        @extend .footer-item;
        vertical-align: top;
        padding-left: 30px;

        ul:first-of-type li {
            margin-bottom: 20px;
        }
        div {
            margin-top: 30px;

            &.copyright {
                margin-top: 86px;
                font-size: 12px;
            }
        }
    }
    .search {
        input[type=search] {
            width: 183px;
        }
    }
    .social {
        margin-top: 40px;
    }
}
.new-auction {
    width: 750px;
}
main {
    margin: 80px 0 60px 0;

    h1 {
        font-size: 45px;
        margin-bottom: 40px;
    }
    form {
        label {
            color: $secondary-color;
            font-size: 20px;
            margin-bottom: 10px;
            display: block;
        }
        input:not([type=submit]):not([type=checkbox]), select, textarea {
            @extend .input;
            padding: 15px;
            width: 100%;
            height: 47px;
            color: $primary-color;

            &.has-error {
                background-color: $error-bg-color;
                border-color: $error-color;
            }
        }
        textarea {
            font-family: "Arimo", sans-serif;
            height: 120px;
        }
        input[type=submit]+a {
            min-width: 200px;
            display: inline-block;
            text-align: center;
            color: $primary-link-color;
            margin-top: 20px;
            font-size: 13px;
        }
        .upload {
            background-color: $primary-color;
            color: $white;
            padding: 10px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
        }
        p {
            font-size: 14px;
        }
        .agree-tac {
            margin-top: 80px;

            input[type=checkbox] + label {
                color: $primary-color;
                font-size: 15px;
                display: initial;

                &+a {
                    text-decoration: underline;
                    color: $primary-link-color;
                }
            }
        }
        .row {
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;

            .row-item {
                width: 48%;
                display: inline-block;

                &.has-error {
                    border: 1px solid $error-color;
                }
            }
            .half {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
            .full {
                width: 100%;
            }
            .third {
                width: 32%;
            }
            .two-third {
                width: 64%;
            }
            .optional {
                label {
                    display: inline-block;

                    &:last-of-type {
                        font-size: 15px;
                    }
                }
            }
            &.cash {
                .row-item {
                    position: relative;
                }
                input {
                    padding-left: 30px;
                }
                .icons-euro {
                    position: absolute;
                    top: 44.5px;
                    left: 10px;
                }
            }
        }
    }
}
.errors {
    padding: 30px 50px;
    margin: 60px 0 40px 0;
    color: $error-color;
    background-color: $error-bg-color;

    ul {
        list-style-type: initial;
    }
}
.profile-info {
    padding: 20px 45px;
    border: 1px solid $tertiary-color;

    h2 {
        margin-bottom: 30px;
    }
    .profile-info-col {
        @extend .col;
        border-right: 1px solid $tertiary-color;
        margin-left: 45px;

        &:first-of-type {
            margin-left: 0;
        }
        &:last-of-type {
            border-right: 0;
        }
        p {
            margin-bottom: 2px;
        }
        .sub-title {
            color: $secondary-color;
            font-weight: bold;
        }
        .item:first-of-type {
            margin-bottom: 30px;
        }
    }
}
.auction-table {
    width: 100%;
    border: 1px solid $tertiary-color;
    border-collapse: collapse;
    margin: 30px 0 60px 0;

    th {
        background-color: $input-bg-color;
        padding: 10px 0;
        text-align: center;
        font-weight: normal;
    }
    td {
        border: 1px solid $tertiary-color;
        text-align: center;
        font-size: 20px;
    }
    img {
        width: 100%;
        height: 100%;
        transition: .3s;
        object-fit: cover;

        &:hover {
            filter: brightness(50%);
        }
    }
    .empty {
        padding: 40px;
    }
    .image {
        border-right: 0;
        width: 150px;
        height: 150px;
        position: relative;

        input[type=checkbox] + label {
            display: initial;
            margin: 0;

            span {
                position: absolute;
                top: 60px;
                left: -40px;
            }
        }
    }
    .title {
        border-left: 0;
        text-align: left;
        padding: 0 40px;
        font-size: 22px;

        a {
            color: $primary-color;
        }
        p {
            color: $secondary-color;
            font-size: 18px;
        }
    }
    .price, .end-date, .remaining-time {
        width: 17%;
        padding: 0 5px;
    }
}
.auction-detail {
    h1 {
        margin-bottom: 15px;
    }
    .title-info {
        font-size: 14px;

        #bids {
            .icons-hamburger {
                margin-left: 5px;
            }
            div {
                padding: 20px 30px;
                margin-top: 30px;
                border: 1px solid $tertiary-color;

                li {
                    padding: 5px;
                }
            }
            .you {
                background-color: $tertiary-color;
            }
        }
    }
    .top {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        img {
            width: 710px;
            height: 502px;
            object-fit: cover;
        }

        .side {
            width: 250px;
            text-align: right;

            .ended {
                font-size: 60px;
                font-weight: bold;
            }
            div {
                margin-bottom: 15px;
                padding-bottom: 20px;

                * {
                    margin-bottom: 5px;
                }
                &.border-bottom {
                    border-bottom: 1px solid $tertiary-color;
                }
                h2 {
                    color: $black;
                    font-size: 27px;

                    &+p {
                        color: $secondary-color;

                    }
                }
                .remaining-time {
                    color: $primary-link-color;

                    &+span {
                        color: $primary-link-color;
                    }
                }
            }
            .bid {
                color: $secondary-color;
                border: 1px solid $tertiary-color;
                padding-top: 20px;

                .padding {
                    padding: 0 20px;
                }
                .estimated-price {
                    font-size: 25px;
                    font-weight: bold;
                }
                .buyout {
                    color: $primary-link-color;
                    text-decoration: underline;
                    font-size: 16px;
                    font-weight: bold;
                    border: 0;
                    background-color: $white;
                }
                .bid-form {
                    display: flex;
                    justify-content: flex-end;

                    .price-input {
                        width: 128px;
                        border: 10px solid $primary-link-color;
                        vertical-align: middle;
                        outline: none;
                    }
                    .price-submit {
                        @extend .big-button;
                        min-width: 120px;
                        display: inline-block;
                    }
                }
                .add-to-watchlist-container {
                    text-align: center;
                    display: block;

                    .icons-hamburger {
                        margin-bottom: 0;
                        vertical-align: baseline;
                    }
                    .add-to-watchlist {
                        color: $secondary-color;
                        text-decoration: underline;
                        border: 0;
                        background-color: $white;
                    }
                }
            }
        }
    }
    .bottom {
        padding: 20px;
        border: 1px solid $tertiary-color;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        min-height: 300px;

        h3 {
            font-weight: bold;
            margin: 20px 0 10px 0;
        }
        p {
            padding-right: 20px;
            margin-bottom: 20px;
        }
        .auction-texts {
            width: 750px;
            border-right: 1px solid $tertiary-color;
        }
        .auction-extra {
            width: 200px;

            .big-button {
                background-color: $primary-color;
                text-align: center;
                padding: 15px;
                color: $white;
                font-size: 17px;
                margin-top: 50px;
            }
        }
    }
}
.watchlist-categories {
    height: 26px;

    a {
        color: $primary-color;
        padding: 0 5px 2px 0;
        border-right: 1px solid $primary-color;

        &.active {
            border-bottom: 3px solid $tertiary-color;
        }
        &:last-of-type {
            border-right: 0;
        }
    }
}
.isearch {
    .search {
        input[type=search] {
            width: 996px;
        }
    }
    h2 {
        margin-top: 40px;
    }
}
.auction-cards {
    display: flex;
    flex-wrap: wrap;

    .auction-info {
        margin-top: 5px;
        line-height: 1.5;
    }
    .auction-card {
        width: 250px;
        margin: 0 3px 50px 3px;
        max-height: 400px;
        overflow: auto;

        img {
            width: 100%;
            height: 180px;
            transition: .3s;
            object-fit: cover;

            &:hover {
                filter: brightness(50%);
            }
        }
        .small-button {
            margin: 0;
            padding: 5px;
            float: initial;
            border-bottom: 0;
        }
        .title {
            font-size: 20px;

            a {
                color: $primary-color;
            }
        }
        .space {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $tertiary-color;
        }
        .year {
            color: $secondary-color;
        }
        .remaining-time {
            font-size: 14px;
        }
    }
}
.pagination {
    text-align: right;

    li {
        display: inline-block;
    }
}
.breadcrumb {
    margin-bottom: 40px;
    li {
        display: inline-block;

        a {
            color: $primary-link-color;
        }
    }
}
